<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <% time= Time.now %>
    <% time.wday == 4  %>
    <% timeday = "Thursday" %>
    <% time.month == 4  %>
    <% timemonth = "April" %>
    <p><%="The date is #{timeday}, #{timemonth} #{time.day}, #{time.year}." %></p>

  </body>
</html>
